<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>823863893392-jokh66elkvacjstvrn5l4gd3ilf6svl4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.823863893392-jokh66elkvacjstvrn5l4gd3ilf6svl4</string>
	<key>API_KEY</key>
	<string>AIzaSyBx7wp-JqgfpTXRmzph4m2UiuROiD9fGEQ</string>
	<key>GCM_SENDER_ID</key>
	<string>823863893392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Arnur.Binder</string>
	<key>PROJECT_ID</key>
	<string>binder-cubstart</string>
	<key>STORAGE_BUCKET</key>
	<string>binder-cubstart.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:823863893392:ios:76c1d02117cf04c8852715</string>
</dict>
</plist>
